  
    <div class="container">
        <div class="row"><h2>User Data Form</h2></div>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="fname">First Name:</label>
                  <input type="text" class="form-control input-sm" formControlName="firstName" required/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="lname">Last Name:</label>
                  <input type="text" class="form-control input-sm" formControlName="lastName" required/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control input-sm" formControlName="email" required/>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="mobile">Mobile:</label>
                  <input type="number" class="form-control input-sm" formControlName="mobile" required/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="dob">Date of Birth:</label>
                  <input type="date" class="form-control input-sm" formControlName="dob" required/>
                </div>
              </div>
              <div class="col-6"></div>
            </div>
              <div>
                <label>{{errormsg}}</label>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;
              <button (click)="deleteSession()" class="btn btn-default">Clear</button>
          </form>
          <br/>
          <div class="row">
            <div class="col-4"> Sort By
              <select class="form-select" [(ngModel)]="selectedCol" (change)="sortdata()">
                <option value="firstName" selected>FirstName</option>
                <option value="lastName">LastName</option>
                <option value="email">Email</option>
                <option value="mobile">Mobile</option>
              </select>
            </div>
            <div class="col-4"> Sort As
              <select class="form-select" [(ngModel)]="selectedType" (change)="sortdata()">
                <option value="asc" selected>Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </div>
            <div class="col-4">&nbsp;</div>
          </div>
          <table class="table" id="datatable">
            <tr><th scope="col">FirstName</th><th scope="col">LastName</th><th scope="col">Email</th><th scope="col">Mobile</th><th scope="col">Date of Birth</th></tr>
            <tr *ngFor="let user of userlist;">
              <td>{{user.firstName | lowercase }}</td>
              <td>{{user.lastName | lowercase }}</td>
              <td>{{user.email | lowercase }}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.dob | customdate }}</td>
            </tr>
          </table>
      </div>