body{
    font-family: "Montserrat",sans-serif;
    background: black;
    color: white;
}

.container{
    margin: 100px auto;
    margin-top: 330px;
    width: 400px;
    text-align: center;
    position: relative;

}

.progress2{
    border-radius: 30px;
    background-color: greenyellow;

}

.progress-bar2{
    height: 18px;
    border-radius: 30px;
    transition: 0.25s linear;
    transition-property: width,background-color;

}

.progress-moved .progress-bar2{
    background-color: hotpink;
    animation: progress 4s infinite;
}

@keyframes progress{
    0%{
        width: 0%;
        background: grey;

    }

    100%{
        width: 100%;
        background:yellow;

    }
}